:root {
  --text: #4b5563;
  --text-h: #111827;
  --bg: #f9fafb;
  --border: #e5e7eb;
  --accent: #1d4ed8;

  font: 15px/1.4 system-ui, 'Segoe UI', Roboto, sans-serif;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

#root {
  min-height: 100vh;
}
